<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="nav-item title">ServiceRequest</span>
        <span class="spacer"></span>
        <button mat-icon-button class="nav-item" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <ng-template matMenuContent>
                <button mat-menu-item [routerLink]="[ '/home' ]">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-menu-item [routerLink]="[ '/requests' ]">
                    <mat-icon>grid_view</mat-icon>
                    <span>Requests</span>
                </button>
                <button mat-menu-item [routerLink]="[ '/update' ]">
                    <mat-icon>update</mat-icon>
                    <span>Update</span>
                </button>
                <button mat-menu-item [routerLink]="[ '/delete' ]">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </ng-template>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>